# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

/.cache

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/sitemap*

# misc
.DS_Store
*.pem
/.idea/

# Environment variable files; we keep our environment variables on Vercel
.env*

# Vercel
.vercel

./library

# Nix
/.direnv/
.env*.local
