# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

/.cache

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/sitemap*

# misc
.DS_Store
*.pem
/.idea/

# Environment variable files.
# Development is allowed for open-source contributions and defaults in local development
# Necessary keys can be fetched via Vercel CLI (see README.md)
.env*
!.env.development

# Vercel
.vercel

./library

# Nix
/.direnv/
.env*.local

# Creds
.creds/
