@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/codeBlockTheme.css");

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}
.no-antialiasing {
  -webkit-font-smoothing: none;
}
