@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  /* -webkit-font-smoothing: antialiased; */
}